.mainBigBox {
  position: relative;
  .logout {
    width: 30px;
    height: 30px;
    z-index: 999;
    position: absolute;
    right: 140px;
    top: 30px;
    display: flex;
    font-size: 18px;

    .logoutIcon{
      font-size: 30px;
      cursor: pointer;
      margin-left: 15px;
    }
  }

  .tabs{
    :global{
      .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
        display: none;
      }
    }
  }
  :global {
    .ant-tabs {
      width: 100%;
      background: #fff;
      
    }
    .ant-tabs-nav-wrap {
      padding: 20px;
    }
  
  }
  
}